{% extends "layout.tpl.html" %}
{% block body %}
        <div class="box text-area">
            <h2>About</h2>
            <h3>Authors</h3>
            <ul>
                <li>Jordan Quagliatini</li>
                <li>Constant Deschietere</li>
                <li>Quentin Fleury</li>
                <li>Mike Flory-Celini</li>
            </ul>
            <hr/>
            <h3>Technologies</h3>
            <ul>
                <li>PHP7</li>
                <li>MariaDB</li>
                <li>Twig</li>
                <li>CSS3 / HTML5</li>
                <li>Atoum</li>
                <li>Whoops</li>
                <li>Vinelab RSS</li>
            </ul>
            <hr/>
            <h3>Sources</h3>
                <a href="https://gitlab.com/tp-tli/acupuncture/">Lien vers le code source</a>
            <hr/>
            <h3>(Web|Bibli)ographie !</h3>
            <ul>
                <li><a href="http://php.net/">http://php.net/</a></li>
                <li><a href="http://twig.sensiolabs.org/doc/2.x/api.html">http://twig.sensiolabs.org/doc/2.x/api.html</a></li>
                <li><a href="https://www.grafikart.fr/tutoriels/php/router-628">https://www.grafikart.fr/tutoriels/php/router-628</a></li>
                <li><a href="http://cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/">http://cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/</a></li>
                <li><a href="https://blog.udemy.com/search-box-css/">https://blog.udemy.com/search-box-css/</a></li>
                <li><a href="http://joemaller.com/990/a-web-focused-git-workflow/">http://joemaller.com/990/a-web-focused-git-workflow/</a></li>
                <li><a href="http://www.quackit.com/html_5/tags/html_datalist_tag.cfm">http://www.quackit.com/html_5/tags/html_datalist_tag.cfm</a></li>
                <li><a href="https://github.com/airbnb/javascript/tree/es5-deprecated/es5">https://github.com/airbnb/javascript/tree/es5-deprecated/es5</a></li>
                <li><a href="http://eslint.org/">http://eslint.org/</a></li>
                <li><a href="https://docs.gitlab.com/ce/ci/quick_start/">https://docs.gitlab.com/ce/ci/quick_start/</a></li>
                <li><a href="https://github.com/Vinelab/RSS">https://github.com/Vinelab/RSS</a></li>
            </ul>
            <hr/>
        </div>
{% endblock %}