{% extends "layout.tpl.html" %}
{% block body %}
        <div class="box text-area">
            <h2>Création de votre compte</h2>
            <form action="?route=create-user" method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" id="username"/>
                <label for="password1">Password</label>
                <input type="password" name="password1" id="password1"/>
                <label for="password2">Vérification</label>
                <input type="password" name="password2" id="password2"/>
                <input type="submit" value="Créer"/>
            </form>            
        </div>
{% endblock %}