{% extends "layout.tpl.html" %}
{% block body %}
        <div class="box text-area">
          {% for pathology, values in rows %}
            <div class="display-pathology">
                <h2>{{ pathology }}</h2>
                <h3>Type</h3>
                <p>
                    {{ values.type }}
                </p>
                <h3>Méridien</h3>
                <p>
                    {{ values.meridian }}
                </p>
                <h3>Symptomes</h3>
                <p>
                <ul>
                    {% for symptom in values.symptoms %}
                    <li>{{ symptom }}</li>
                    {% endfor %}
                </ul>
                </p></div>
            {% endfor %}
        </div>
{% endblock %}