{% extends "layout.tpl.html" %} {% block body %}
<div class="box">
    <h2>Actualités</h2>
    <div class="page--index">
    {% for article in articles %}
        <article>
            <h3><a href="{{ article.link }}">{{ article.title }}</a></h3>
            <div class="date">{{ article.date }}</div>
            <p>{{ article.description|raw }}</p>
        </article>
    {% endfor %}
    </div>
</div>
{% endblock %}