<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>acpt.tk - Pathologies</title>
    <link rel="stylesheet" href="/web/css/style.css" />
</head>
<body>
    <div id="wrapper">
        <header>
            <a href="{{routeTo('get_index')}}" id="home-link"><h1 class="title">acpt.tk</h1></a>
        </header>
        <nav>
            <ul>
                <li><a href="{{routeTo('get_index')}}">Accueil</a></li>
                {% if authenticate %}
                <li><a href="{{routeTo('get_pathologies')}}">Pathologies</a></li>
                <li><a href="{{routeTo('get_symptoms-and-pathologies')}}">Pathologies/Symptômes</a></li>
                <li><a href="{{routeTo('get_search')}}">Recherche</a></li>
                <li><a href="{{routeTo('get_about')}}">About</a></li>
                {% endif %}
            </ul>
            {% if not authenticate %}
            <form action="{{routeTo('post_authenticate-user')}}" method="POST">
                <span>
                    <label for="login-login">login</label>
                    <input id="login-login" type="text" placeholder="Login" title="saisir le login" name="username"/>
                </span>

                <span>
                    <label for="login-pwd">password</label>
                    <input id="login-pwd" type="password" placeholder="Password" title="saisir le mot de passe" name="password"/>
                </span>

                <input type="submit" value="Se connecter"/>
                <a href="{{routeTo('get_create-user')}}">Pas de compte ?</a>
            </form>
            {% else %}
            <a class="right" href="{{routeTo('get_disconnect')}}">Se déconnecter</a>
            {% endif %}

        </nav>
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
        <footer>
            <p><a href="{{routeTo('get_about')}}">About</a> | Copyright &copy; AwesomeWebDesigner</p>
        </footer>
    </div>
</body>
</html>