{% extends 'layout.tpl.html' %}
{% block body %}

<div class="box textarea">
    <table class="pathology striped" title="Liste des pathologies et de leurs symptômes associés">
        <thead>
        <tr>
            <th>Pathologie</th>
            <th>Type de pathologie</th>
            <th>Méridien</th>
            <th>Symptomes</th>
        </tr>
        </thead>
        <tbody>
        {% for pathology, values in rows %}
        <tr>
            <td>{{ pathology }}</td>
            <td>
                {{ values.type }}
            </td>
            <td>
                {{ values.meridian }}
            </td>
            <td>
                <ul>
                {% for symptom in values.symptoms %}
                    <li>{{ symptom }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">
        {% if previousPage < 1 %}
            <li class="disabled"><a>Prec.</a></li>
        {% else %}
            <li><a href="{{routeTo('get_paged_symptoms-and-pathologies', {'page': previousPage})}}">Préc.</a></li>
        {% endif %}
        <li><a href="{{routeTo('get_paged_symptoms-and-pathologies', {'page': nextPage})}}">Suiv.</a></li>
    </ul>
</div>

{% endblock %}