{% extends 'layout.tpl.html' %}
{% block body %}
<div class="box text-area">
    <h2>Pathologies</h2>
    <table class="striped" title="Liste des pathologies sur le site">
        <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.idP }}</td>
                    <td>{{ row.desc }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">
        {% for page in range(1, maxPages) %}
            <li>
                <a href="?route=pathologies&page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}