{% extends "layout.tpl.html" %}
{% block body %}
        <div class="box">
            <img src="web/img/404.gif" alt="404 message">
            <h2>404 Not Found</h2>
            <p>The page you were looking for could not be found!</p>
        </div>
    <ul>
        {% for key, param in params %}
            <li>{{ key }} : {{ param }}</li>
        {% endfor %}
    </ul>
{% endblock %}
