{% extends "layout.tpl.html" %} {% block body %}
<div class="box">
  <h2 id="chercher-une-pathologie">Chercher une pathologie</h2>
  <form id="search-form" action="{{routeTo('get_display-pathology')}}">
    <input type="hidden" id="autocomplete-pathologies-url" value="{{routeTo('get_autocomplete_pathologies')}}">
    <input id="list-pathologies" aria-describedby="chercher-une-pathologie" list="autocomplete-result-pathologies"
            type="text" title="champs de recherche" placeholder="Recherche..." required>
    <datalist id="autocomplete-result-pathologies">

    </datalist>
    <p>
      <input type="button" id="add-more-filters" value="+ de critères"/>
      <div id="filter-list">
        <input type="hidden" id="autocomplete-meridiens-url" value="{{routeTo('get_autocomplete_meridians')}}">
        <input type="hidden" id="autocomplete-symptomes-url" value="{{routeTo('get_autocomplete_symptoms')}}">

        <label for="list-meridiens">Ajouter des méridiens</label>
        <input id="list-meridiens" list="autocomplete-result-meridiens" placeholder="méridiens...">
        </input>
        <datalist id="autocomplete-result-meridiens" data-added="added-meridiens"></datalist>

        <ul class="hidden" aria-live="polite" id="added-meridiens"></ul>

        <label for="list-symptomes">Ajouter des symptômes</label>
        <input id="list-symptomes" list="autocomplete-result-symptomes" placeholder="symptômes...">
        </input>
        <datalist id="autocomplete-result-symptomes" data-added="added-symptomes"></datalist>

        <ul class="hidden" aria-live="polite" id="added-symptomes"></ul>
      </div>
    </p>
    <input id="search-button" type="submit" value="Rechercher">
  </form>
</div>
<!-- Including polyfill in order to be able to use Fetch even on older IE versions -->
<script src="https://cdn.polyfill.io/v2/polyfill.js?features=promise,fetch"></script>
<script src="/web/js/autocomplete.js"></script>
{% endblock %}