html {
    margin: 0;
    padding: 0;
    height: 100%;
    /*box-sizing: border-box;*/
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.hidden {
    display: none;
}

/* Menu */
nav {
    background-color:#72BAAC;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0 4px 2px -2px gray;
    display: flex;
}

nav ul {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    font-size: 1.2em;
    margin-right: 7px;
    color: white;
}

nav form, nav a.right {
    margin: auto;
    margin-right: 1%;
    float: right;
}

nav form a, nav a.right {
    color: #eee;
}

nav form span {
    display: inline-block;
}

nav form label {
    display: block;
    color: #EEE;
    font-size: 0.6em;
}

nav ul li {
    display: inline;
}

.title {
    margin: 0 0 0 0;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 2%;
    color: #EEE;
}

header {
    background-color: #5A5A5A;
}

/* Content */
.content{
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 7em;
    max-width: 640px;
    width: 94%;
}

footer {
    margin: auto;
    height: 5em;
    position:absolute;
    bottom:0;
    left:0;
    text-align: center;
    background-color: #5A5A5A;
    width: 100%;
}

footer p {
    color: #EEE;
    font-size: 1.2em;
}

footer a {
    color: #EEE;
}

.box {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 7px;
    text-align: center;
}

.text-area {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.box input {
    display: block;
    margin-bottom: 10px;
}

.box input[type="submit"] {
    width: 100%;
}

.box #filter-list {
    text-align: left;
}

.box.text-area .display-pathology {
    padding-bottom: 1em;
    border-bottom: solid #ccc 2px;
}

.box.text-area .display-pathology:last-child {
    border-bottom: none;
}


.box.text-area .display-pathology h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.7em;
    text-transform: capitalize;
    color: rgba(0, 0, 0, .72);
}

.box.text-area .display-pathology h3 {
    color: rgba(0, 0, 0, .8);
}


/** PAGINATION */
ul.pagination {
    list-style: none;
    display: inline-block;
}

ul.pagination li {
    display: inline;
}

ul.pagination li:hover {
    background-color: #DDD;
}

ul.pagination li.disabled a {
    color: #777;
    cursor: not-allowed;
    background-color: #FFF;
}

ul.pagination li.disabled a:hover {
    background-color: #FFF;
}

ul.pagination li a {
    position: relative;
    margin: 0;
    padding: .4rem .6rem;
    display: block;
    float: left;
    text-decoration: none;
    line-height: 1.4;
    color: #72BAAC;
    border: 1px solid #DDD;
}

ul.pagination li:first-child a {
    border-radius: .2em 0 0 .2em;
}

ul.pagination li:last-child a {
    border-radius: 0 .2em .2em 0;
}

ul.pagination li a:hover {
    background-color: #EEE;
}
/** \PAGINATION */


/** Page: index */
.page--index article {
    text-align: justify;
    padding: 0 4em;
}

.page--index article h3 a,
.page--index article h3 a:visited {
    font-weight: lighter;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}

.page--index article h3 a:hover {
    border-bottom: dotted 1px rgba(0, 0, 0, .7);
}

.page--index article p,
.page--index article div,
.page--index article span,
.page--index article label,
.page--index article a {
    font-size: .9em;
}

/** \Page: index */
.striped {
    width: 100%;
}

.striped thead tr th {
    vertical-align: bottom;
    padding-left: 7px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}

.striped tr td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.striped {
    border-spacing: 0;
    border-collapse: collapse;
}

.striped tr {
    padding-top: 0;
    padding-bottom: 0;
}

.striped tbody tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

.pathology {
    text-align: left;
}

/* Search form */
#search-form {
    width:100%;
    margin:25px auto;
}

#search-form label {
    display: block;
}

#search-button {
    position:relative;
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    display: inline;
}

#search-button:hover {
    background-color:#fafafa;
    color:#207cca;
}

input#list-pathologies,
input#list-meridiens,
input#list-symptomes {
    padding:8px 15px;
    width: 95%;
    background:rgba(50, 50, 50, 0.2);
    border:1px solid #dbdbdb;
    display: inline-block;
}

input#list-pathologies {
    width: 80%;
}

#filter-list {
    display: none;
}

#home-link{
    text-decoration:none;
}
/* Medium design */
/* Mobile and small screen design */
@media screen and (max-width: 850px) {

    nav ul li {
        display: block;
    }

    nav form input, nav form a{
        display: block;
    }

    nav ul {
        margin-left: -25px;
    }

    nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Mobile and small screen design */
@media screen and (max-width: 1235px) and (min-width: 851px) {

    nav ul li {
        display: block;
    }

    nav ul {
        margin-left: -25px;
    }

    nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Media print */
@media print {
    header, nav, footer {
        display: none;
    }
    .pagination {
        display: none !important;
    }
    .box {
        box-shadow: none;
        padding: 7px;
    }
}